.button-fixed {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

body {
  transition: top 1s ease-out 0.5s;
  scroll-behavior: smooth;
}

.add_margin {
  margin-top: 30px;
}

.navbar-brand {
  height: 130px;
  width: 130px;
}

.float-img {
  position: float;
  float: left;
}
